$font: "Avenir Next"; 
$color: red; 
$text-color: #213F7D; 
$secondary-color: #545F7D; 
$green-color: #39CDCC;
$mid-spacer: 60px;
$work: "Work Sans";
$user-color-1: "#DF18FF"; 
$shadow-1: 3px 0px 20px 0px #0000000A;
$border-radius-small: 4px; 
$border-radius-large: 8px; 


@mixin format-text($size, $weight, $color, $spacing){
    font: {
        size: $size; 
        weight: $weight; 
    }

    color: $color; 
    letter-spacing: $spacing;
}

@mixin set-shadow($shadow){
    box-shadow: $shadow;
    background-color: white;
}

@mixin button($border, $background, $color, $width, $spacing: normal){
    border: $border; 
    background-color: $background; 
    color: $color;
    width: $width; 
    height: 40px; 
    border-radius: $border-radius-large;
    transition: 0.2s;
    cursor: pointer;
    @include format-text(14px, 600, $color, $spacing);
}

.flex-column{
    display: flex; 
    flex-direction: column;
}

.flex-center{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.flex-column-align-start{
    @extend .flex-column; 
    align-items: flex-start;
}

.flex-align-center{
    display: flex; 
    align-items: center;
}

.flex-justify-between-align-center{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.flex-justify-between{
    display: flex; 
    justify-content: space-between;
}

.primary-button{
    background-color: #39CDCC;
    color: white; 
    padding: 13px; 
    border-radius: $border-radius-large; 
    border: none; 
    cursor: pointer; 
}

.hide-scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;  

    &::-webkit-scrollbar {
        display: none;
    }
}

.hover{
    width: 100%; 
    height: 100%; 
    position: absolute;  
}

.filter-input{
    padding: 12px 20px;
    border-radius: $border-radius-small;
    opacity: 0.7;
    border: none;
    box-sizing: border-box;
}

.select-div{
    position: relative; 
    display: flex; 
    flex-direction: column;
    height: 40px;

    .chev-down-icon{
        position: absolute; 
        right: 16.71px; 
        top: 50%;
        transform: translateY(-50%)
    }

    .input-border{
        position: absolute; 
        width: 100%; 
        height: 100%; 
        border: 1px solid $text-color; 
        opacity: 0.2; 
        border-radius: $border-radius-large; 
        z-index: -1;
    }

    select{
        @extend .filter-input;
        appearance: none;
    }

    select option:first-child {
        display: none;
    }
}

.clickable{
    cursor: pointer; 
    transition: 0.2s;

    &:hover{
        opacity: 0.8;
    }
}