@import "gen";
$left: 30px; 

.side-nav{
    @include set-shadow(0px 5px 20px rgba(0, 0, 0, 0.04));
    @extend .hide-scroll; 
    width: 283px;  
    height: 100%;
    padding: 40px 0px 20px 0px;
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;  
    z-index: 5;
}



.hidden{
    display: none; 
}

.brief-case-div{
    @extend .flex-align-center; 
    padding-left: $left; 

    p{
        @include format-text(16px, 400, $text-color, normal);
        font-family: 'Work Sans', sans-serif;
        margin: 0px 10px 0px 10px
    }
}

.brief-case-div:first-child{
    @extend .clickable; 
}

.home-div{
    @extend .brief-case-div;

    margin-top: 52px; 
    opacity: 0.6; 
}

.menu-div-holder{
    display: flex; 
    flex-direction: column;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    padding-bottom: 50px;
    
}

.menu-div{
    // border: 1px solid black;
    margin-top: 41px; 
    margin-bottom: 0px; 
    display: flex; 
    flex-direction: column;
    position: relative;
    
    // background: yellow;

    h3{
        @include format-text(12px, 500, $secondary-color, normal);
        padding-left: $left;
    }

    div{
        display: flex; 
        align-items: center;
        // padding-left: 30px;
        position: relative;
        height: 40px;
        margin-bottom: 10px;
        box-sizing: border-box;
        transition: 0.2s;
        cursor: pointer;
        // background-color: yellow;

        &:not(.active-side-nav):hover{
            background-color: rgba(57, 205, 204, 0.1);
        }

        img{
            margin-left: $left;
        }

        p{
            @include format-text(16px, 400, $text-color, normal);
            margin: 0px 0px 0px 10px; 
            opacity: 0.6; 
            box-sizing: border-box;
        }
    }

    .active-side-nav{
        border-left: 3px solid $green-color;
        background-color: rgba(57, 205, 204, 0.1);
    }
}

.sign-out-p{
    @include format-text(16px, 400, $text-color, normal);
    @extend .clickable; 
    display: flex; 
    align-items: center;
    margin: 20px 0px 42px $left; 
    cursor: pointer;
    width: fit-content;
    img{
        margin-right: 10px;
    }
}

.version-p{
    @include format-text(12px, 400, $text-color, normal);
    margin-left: $left;
    margin-bottom: 0px; 
}

@media only screen and (max-width: 1250px) {
    $left: 20px; 
    .side-nav{
        width: 223px;  

        .brief-case-div{
            padding-left: $left; 

            img{
                width: 13px;
            }
        
            p{
                @include format-text(13px, 400, $text-color, normal);
            }
        }

        .menu-div{
            h3{
                @include format-text(12px, 500, $secondary-color, normal);
                padding-left: $left;
            }
        
            div{
                img{
                    margin-left: $left;
                    width: 13px;
                }
        
                p{
                    @include format-text(13px, 400, $text-color, normal);
                }
            }
        }

        .sign-out-p{
            font-size: 13px; 
            margin: 20px 0px 42px $left; 
            // background-color: blue
            display: flex; 
            align-items: center;
            img{
                width: 13px; 
            }
        }

        .version-p{
            margin-left: $left;
        }
    }
}


@media only screen and (max-width: 850px) {
    .side-nav{
        position: absolute; 
        top: 0px; 
        display: none; 
    }

    .mob-side-nav{
        display: block; 
    }
}