@import "gen";
$page-button-background: rgba(33, 63, 125, 0.1);

.user-content{
    @extend .hide-scroll; 
    flex: 1; 
    height: 100%; 
    overflow-y: scroll;
    padding: 60px 60px 200px 60px;
    font-family: $work;
    box-sizing: border-box;
    position: relative;

    h1{
        @include format-text(24px, 600, $text-color, normal);
        margin: 0px 0px 40px 0px; 
    }
}



.card-holder-div{
    @extend .flex-justify-between;
    width: 100%; 
    height: 160px; 

    .card-div{
        @include set-shadow($shadow-1);
        width: 240px; 
        height: 100%; 
        padding: 20px 30px; 
        box-sizing: border-box;
        position: relative;

        .card-icon-div{
            @extend .flex-center; 
            width: 40px; 
            height: 40px; 
            position: relative;

            .card-icon-hover{
                width: 100%; 
                height: 100%; 
                border-radius: 50%;
                opacity: 0.1;
                position: absolute;
                top: 0px; 
            }
        }

        .card-title-p{
            @include format-text(14px, 500, $text-color, normal);
            margin: 14px 0px 12px 0px; 
        }

        .card-figures-p{
            @include format-text(24px, 600, $text-color, normal);
            margin: 0px;
        }

        &:nth-child(1){
            .card-icon-hover{
                background-color: #DF18FF;
            }
        }

        &:nth-child(2){
            .card-icon-hover{
                background-color: #5718FF;
            }
        }

        &:nth-child(3){
            .card-icon-hover{
                background-color: #F55F44;
            }
        }

        &:nth-child(4){
            .card-icon-hover{
                background-color: #FF3366;
            }
        }
    }
}


.user-table{
    @include set-shadow($shadow-1);
    width: 100%;
    margin-top: 40px;
    text-align: left;
    padding: 30px 3% 30px 3%; 
    box-sizing: border-box;
    position: relative; 

    .loading-p{
        text-align: center;
        margin: 50px;
    }

    .filter-div{
        @include set-shadow($shadow-1);
        @extend .flex-column;
        position: absolute;
        width: 270px; 
        height: 600px;
        z-index: 10;
        top: 80px; 
        border-radius: $border-radius-small;
        padding: 30px 20px;
        
        box-sizing: border-box;
        border: 1px solid rgba(84, 95, 125, 0.14);
        @include format-text(14px, 400, $secondary-color, normal);

        label{
            margin-bottom: 6px;
        }

        label:not(:first-child){
            margin-top: 20px;
        }

        .user-select-div{
            @extend .select-div;
        }

        .select-div{
            .css-1okebmr-indicatorSeparator{
                display: none;
            }
        }


        input[type="text"], input[type="date"]{
            @extend .filter-input;
        }

        .filter-button-div{
            margin-top: 30px; 

            button:first-child{
                @include button(1px solid $text-color, white, $text-color, 98px); 
                margin-right: 14px; 
                

                &:hover{
                    @include button(none, $text-color, white, 98px); 
                }
            }

            button:nth-child(2){
                @include button(none, $green-color, white, 98px); 
                margin-right: 14px; 
                &:hover{
                    @include button(1px solid $green-color, white, $green-color, 98px); 
                }
            }

            button{
                letter-spacing: 10em;
            }
        }   
    }

    .filter-div-hidden{
        @extend .filter-div;
        display: none; 
    }

    .filter-p{
        display: none;

        img{
            @extend .clickable; 
            cursor: pointer; 
        }
    }

    .user-row-div{
        @extend .flex-align-center;
        width: 100%;
        position: relative;

        h3{
            @include format-text(12px, 700, $secondary-color, normal);
            display: flex; 
            line-height: 12px;
            margin: 0px; 
            box-sizing: border-box;
            word-wrap: break-word;
            
            img{
                @extend .clickable; 
                margin-left: 10px;
                cursor: pointer; 
            }

            padding-right: 35px;
            margin-bottom: 16px;
        }

        p{
            @include format-text(14px, 400, $secondary-color, normal);
            box-sizing: border-box;
            word-wrap: break-word;
            padding-right: 35px;
            overflow-wrap: break-word;;
        }

        p:last-child{
            margin: 0px;
            padding: 0px;
        }

        .org{
            width: 20%;
        }

        .username{
            width: 15%;
        }

        .email{
            width: 21%;
        }

        .phone{
            width: 15%; 
        }

        .date{
            width: 15%; 
        }

        .status{
            @extend .flex-align-center;
            position: relative;

            img{
                cursor: pointer;
            }

            .oval-div{
                @extend .flex-center; 
                height: 30px; 
                position: relative;
                padding: 8px 16px; 
                box-sizing: border-box;

                .oval-div-hover{
                    @extend .hover; 
                    top: 0px; 
                    border-radius: 100px; 
                    opacity:0.06;
                }
            }

            p{
                margin: 0px;
                padding: 0px; 
            }

            .inative-p{
                color: $secondary-color;
            }

            .inactive{
                background-color: $secondary-color;
            }

            .pending{
                background-color: #E9B200;
            }

            .pending-p{
                color: #E9B200;
            }

            .blacklisted{
                background-color: #E4033B;
            }

            .blacklisted-p{
                color: #E4033B;
            }

            .active{
                background-color: #39CD62;
            }

            .active-p{
                color: #39CD62;
            }
        }

        .dot-icon{
            @extend .clickable;
            cursor: pointer;
            position: absolute;
            right: 0px;
        }

        .dot-div{
            @include set-shadow($shadow-1);
            width: 180px; 
            height: 130px; 
            position: absolute;
            right: 0px; 
            top: 100%;
            padding: 20px 25px; 
            box-sizing: border-box;
            z-index: 20;

            p{
                @include format-text(14px, 500, $text-color, normal);
                @extend .flex-align-center; 
                width: 100%;
                padding: 0px;
                img{
                    margin-right: 13px; 
                }
                cursor: pointer; 

                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
        
        .dot-div-hidden{
            @extend .dot-div; 
            display: none; 
        }

        .dot-div-shown{
            @extend .dot-div; 
            @extend .flex-column; 
        }

        &:not(:first-child){
            padding: 20px 0px;
            box-sizing: border-box;
            border-bottom: 1px solid #213F7D1A;
    
            .status{
                @extend .flex-justify-between;
                flex: 1; 
            }
        }
    }

    .last-row-div{
        border-bottom: none !important;
    }

    
    h3{
        @include format-text(16px, 700, $secondary-color, normal);
        @extend .flex-align-center; 
        
        img{
            margin-left: 10px;
        }
    }
}



.pagination-div{
    width: 100%; 
    margin-top: 20px; 
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
  
    .showing-div{
        @extend .flex-align-center;
        height: 30px; 

        p{
            @include format-text(14px, 400, $secondary-color, normal);
            padding: 0px;
        }

        .selectSet{
            background-color: $page-button-background;
            border: none; 
            margin: 0px 10px 0px 10px; 
            padding: 7px 12px; 
            border-radius: $border-radius-small;
            width: 80px; 
        }
    }

    .page-div{
        @extend .flex-align-center; 
        height: 30px; 
        margin: 0px;
        

        li{
            @include format-text(16px, 400, $secondary-color, normal);
            @extend .clickable; 
            margin-right: 20px;
            opacity: 0.6;
            cursor: pointer;
            list-style-type: none;

            &:last-child{
                margin-right: 0px; 
            }
        }

        .chev-div{
            @extend .flex-center; 
            height: 24px; 
            width: 24px; 
            
            background-color: $page-button-background;
        }

        p{
            @extend .flex-center;
            @include format-text(16px, 400, $secondary-color, normal);
            margin: 0px 20px;
            opacity: 0.6;
            cursor: pointer;
        }

        .active{
            opacity: 1;
        }
    }

    .mob-page-div{
        @extend .page-div; 

        div{
            @extend .clickable; 
        }

        display: none; 
    }
}




@media only screen and (max-width: 1300px) {
    .user-content{
        .card-holder-div{
            height: fit-content; 
            flex-wrap: wrap;
        
            .card-div{
                width: 200px; 
                margin-bottom: 35px;
        
                .card-title-p{
                    font-size: 12px; 
                }
        
                .card-figures-p{
                    font-size: 20px; 
                }
            }
        }

        .user-table{
            padding: 30px 80px 30px 80px; 
        }

        .user-row-div{
            

            h3{
                padding-right: 25px;
                font-size: 10px;
            }

            p{
                font-size: 10px;
                padding-right: 25px; 
            }
        }

        
    }
}

@media only screen and (max-width: 1200px) {
    .user-content .card-holder-div .card-div{
        width: 160px; 
        padding: 15px 25px; 

        .card-title-p{
            font-size: 10px;
        }

        .card-figures-p{
            font-size: 18px; 
        }
    }
}


@media only screen and (max-width: 1100px) {
    .user-content .user-table{
        .user-row-div{
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            p{
                font-size: 18px;
                margin-bottom: 24px;
                width: 100%;
            }

            .org, .username, .email, .phone, .date{
                width: 100%;
            }

            .dot-icon{
                position: absolute; 
                right: 0px; 
                
            }

            .dot-div{
                top: 50px; 
            }
        }

        .user-row-div:first-child{
            display: none;
        }

        .filter-p{
            display: flex;
        }
    }
}




@media only screen and (max-width: 1000px) {
    .user-content .card-holder-div .card-div{
        width: 280px; 
        padding: 20px 30px; 

        .card-title-p{
            font-size: 16px; 
        }

        .card-figures-p{
            font-size: 26px;
        }
    }
}

@media only screen and (max-width: 920px) {
    .user-content .card-holder-div .card-div{
        width: 240px; 
        .card-title-p{
            font-size: 14px; 
        }

        .card-figures-p{
            font-size: 24px;
        }
    }
}

@media only screen and (max-width: 850px) {
    .user-content .card-holder-div .card-div{
        width: 320px; 
        .card-title-p{
            font-size: 14px; 
        }

        .card-figures-p{
            font-size: 24px;
        }
    }
}

@media only screen and (max-width: 760px) {
    .user-content .card-holder-div .card-div{
        width: 250px; 
    }
}

@media only screen and (max-width: 650px) {
    .user-content{
        .card-holder-div{        
            .card-div{
                width: 200px; 
        
                .card-title-p{
                    font-size: 12px; 
                }
        
                .card-figures-p{
                    font-size: 22px;
                    margin: 0px;
                }
            }
        
        }

        .user-row-div{
            p{
                font-size: 16px; 
            }
        }

        .pagination-div{
            justify-content: center;

            .showing-div{
                display: none; 
            }

            .page-div{
                display: none; 
            }
    
            .mob-page-div{
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    height: fit-content;
                    padding: 0px;
                }
            }
        }

        
    }
}

@media only screen and (max-width: 530px) {
    .user-content{
        .card-holder-div{        
            .card-div{
                width: 180px; 
        
                .card-title-p{
                    font-size: 10px; 
                }
        
                .card-figures-p{
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 490px) {
    .user-content{
        .card-holder-div{     
            align-items: center;  
            justify-content: center; 
            .card-div{
                width: 80%; 
                padding: 20px 30px; 
        
                .card-title-p{
                    font-size: 12px; 
                }
        
                .card-figures-p{
                    font-size: 22px;
                }
            }
        }

        .user-table{
            padding: 30px 50px 30px 50px; 
        }

        .user-row-div{
            flex-direction: column;
            align-items: flex-start;

            p{
                font-size: 14px;
            }
        }
    }
}


@media only screen and (max-width: 405px) {
    .user-content{
        .user-table{
            padding: 30px; 
        }
    
        .user-row-div{
            p{
                font-size: 12px;
            }
        }
    }
    
}

@media only screen and (max-width: 405px) {
    .user-content{
        .user-table{
            padding: 30px 30px; 
        }
    
        .user-row-div{
            p{
                font-size: 12px;
            }
        }
    }
}