@import "gen"; 


table{
    width: 100%;
    // display: flex; 

    thead{
        background: green;
        display: flex; 
        width: 100%;
    }

    tbody{
        background: purple;
        width: 100%;
    }

    // position: relative;
    // background: blue;
    // margin: 0px;

    // th{
    //     white-space: nowrap;
    //     box-sizing: border-box;
    //     // padding-right: 20px; 
    // }

    // tr{
    //     background: green; 
        
    //     td{
    //         padding-right: 20px; 
    //     }
    // }
}

