@import "utils/gen";
.dashboard-body{
    height: 100vh;
    background-color: #FBFBFB;
    display: flex; 
    flex-direction: column;
    position: relative; 
}


.dashboard-content{
    @extend .hide-scroll; 
    width: 100%; 
    flex: 1; 
    display: flex; 
    overflow-y: scroll;
    position: relative;
}